<div class='wrapper col-xs-10 col-xs-offset-1'>
  <h3><%= @blog.title %></h3>
  <h4><%= @blog.post %></h4>
  <h6><%= (@blog.post_date).to_formatted_s(:rfc822) %></h6>
  <% if can? :manage, Blog %>
    <div class='btn-group'>
      <%= link_to 'Edit', edit_blog_path(@blog), class:'col-sm btn btn-default' %>
      <%= link_to 'Back', blogs_path, class:'col-sm btn btn-default' %>
    </div>
  <% end %>
</div>
