<dl class='wrapper col-md-8 col-md-offset-2'>
  <dt><%= @blog.title %></dt><br>
  <dd><%= @blog.post %></dd><br>
  <dd><%= (@blog.post_date).to_formatted_s(:rfc822) %></dd>
  <% if can? :manage, Blog %>
    <div class='btn-group'>
      <%= link_to 'Edit', edit_blog_path(@blog), class:'col-sm btn btn-default' %>
      <%= link_to 'Back', blogs_path, class:'col-sm btn btn-default' %>
    </div>
  <% end %>
</dl>
