<div class='col-xs-10 col-xs-offset-1'>
  <h2>Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal'} ) do |f| %>

    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, required: true %>
    <%= f.input :remember_me, as: :boolean,
                              wrapper: :horizontal_radio_and_checkboxes %>
    <%= f.button :submit, "Log in", class: 'col-sm-offset-2 btn btn-default' %>
    <%= link_to "Forgot password?", new_password_path(resource_name), class: 'col-sm-offset-2 btn btn-default' %>
    <% end %>
</div>
