<section class='wrapper'>
  <div class='container-fluid'>
    <%= image_tag 'camera.png', class: :'header-photo', alt: 'camera', id:'photos' %>

    <div class='row'>
      <% @photos.each do |photo| %>
      <div class='col-sm-6 col-md-4'>
        <%= link_to photo, class:'thumbnail' do %>
          <%= image_tag photo.image %>
        <% end %>
        <div class='caption text-center'>
          <h3><%= photo.caption %></h3>
        </div>
      </div>
      <% end %>
    </div>
  <div class='container-fluid'>
    <%= image_tag 'peaking_logo.png', class: :'img-responsive header-photo', alt: 'peaking_software' %>
  </div>
</section>
