<!DOCTYPE html>
<html>
<head>
  <title>David Solis | Designer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <header>
    <a href="/photos" id="logo">
        <h1>Favorite year</h1>
        <h2>first of many 👬</h2>
    </a>
    <nav>
      <ul>
        <li><%= link_to 'Photo Gallery', photos_path %></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </header>

  <table>
    <thead>
      <tr>
        <th>Image</th>

      </tr>
    </thead>

    <tbody>
      <% @photos.each do |photo| %>
        <tr>
          <td><%= image_tag(photo.image) %></td>
          <td><%= photo.text %></td>
          <td><% photo.presentation_order %></td>
          <td><% link_to 'Show', photo %></td>
          <td><% link_to 'Edit', edit_photo_path(photo) %></td>
          <td><% link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<br>

<%= link_to 'New Photo', new_photo_path %>
