<!DOCTYPE html>
<html>
  <body>
    <section>
      <div class='container wrapper col-xs-10 col-xs-offset-1'>
        <h2>Photos</h2>
        <br>
      </div>
        <div class='wrapper col-xs-10 col-xs-offset-1'>
          <div class='row'>
            <% @photos.each do |photo| %>
              <div class='col-sm-6 col-md-4'>
                <div class='thumbnail'>
                  <%= link_to photo do %>
                    <%= image_tag photo.image %>
                  <% end %>
                </div>
                <div class='caption text-center'>
                  <p><%= photo.text.downcase.titleize %><p>
                </div>
              </div>
            <% end %>
          </div>
          <%= link_to 'New Photo', new_photo_path %>
        </div>
        <%= yield %>
    </section>
  </body>
</html>
