<!DOCTYPE html>
<html>
<body>

  <header>
    <a href="/photos" id="logo">
        <h1>Favorite year</h1>
        <h2>first of many 👬</h2>
    </a>
    <nav>
      <ul>
        <li><%= link_to 'Photo Gallery', photos_path %></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </header>

  <table>
    <tbody>
      <% @photos.each do |photo| %>
        <tr>
          <td><%= image_tag(photo.image) %></td>
          <td><%= photo.text %></td>
          <td><% photo.presentation_order %></td>
          <td><% link_to 'Show', photo %></td>
          <td><% link_to 'Edit', edit_photo_path(photo) %></td>
          <td><% link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'New Photo', new_photo_path %>
  <section>
    <%= yield %>
  </section>
    <footer>
      <a href="https://twitter.com/soliskit"><img src="https://s3-us-west-1.amazonaws.com/soliskit/twitter-wrap.png" alt="Twitter Logo" class="social-icon"></a>
      <a href="https://facebook.com/litlmoz"><img src="https://s3-us-west-1.amazonaws.com/soliskit/facebook-wrap.png" alt="Facebook Logo" class="social-icon"></a>
      <p>&copy; 2016 David Solis.</p>
    </footer>

</body>
</html>
