<nav class="navbar navbar-default navbar-fixed-top">
  <div id='nav' class="container-fluid">
    <div class="navbar">
      <%= link_to 'D/\VID', root_url, class:'navbar-brand' %>
      <%= link_to 'about', root_url << '#about', class:'nav-links' %>
      <% if user_signed_in? %>
        <%= link_to "logout", destroy_user_session_path, :method => :delete, class:'nav-links' %>
        <%= link_to 'blogs', blogs_path, class:'nav-links' %>
      <% else %>
        <%= link_to 'blog', root_url << '#blog', class:'nav-links' %>
      <% end %>
      <%= link_to 'photos', root_url << '#photos', class:'nav-links' %>
      <%= link_to 'peaking', 'https://www.facebook.com/Peaking-Software-193843850813732/timeline', target: :'_blank', class:'nav-links pull-right peaking' %>
    </div>
  </div>
</nav>
