<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-6" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'D/\VID', root_path, class:'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-6">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li><%= link_to "logout", destroy_user_session_path, :method => :delete %></li>
        <% end %>
        <li><%= link_to 'about', root_url << '#about' %></li>
        <li><%= link_to 'blog', root_url << '#blog' %></li>
        <li><%= link_to 'photos', root_url << '#photos' %></li>
      </ul>
      <ul class='nav navbar-nav navbar-right'>
        <li><%= link_to 'peaking software', 'https://www.facebook.com/Peaking-Software-193843850813732/timeline', target: :'_blank' %></li>
      </ul>
    </div>
  </div>
</nav>
