<!DOCTYPE html>
<html>
<head>
  <% if @header %>
  <title>David Solis | <%= @header %></title>
  <% else %>
  <title>David Solis</title>
  <% end %>
  <%= render 'favicon' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="r_NYeVh-ElZ-3JwfqfrkSs_sFA8kOEsqT04cvxxb1ks" />
</head>
<body>
  <%= render 'nav' %>
    <%= yield %>
  <footer class='footer'>
    <a href="https://twitter.com/davidsoliskit"><%= image_tag 'social-icon/twitter.svg', class: :'social-icon' %></a>
    <a href="https://davidsoliskit.tumblr.com"><%= image_tag 'social-icon/tumblr.svg', class: :"social-icon" %></a>
    <p>&copy; <%= (Time.now).year %> David Solis</p>
  </footer>
</body>
</html>
