<!DOCTYPE html>
<html>
  <head>
    <title>David Solis</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
    <body>
      <header>
        <h1>D/\VID</h1>
      </header>
        <%= yield %>
      <footer>
        <a href="https://twitter.com/soliskit"><%= image_tag 'social-icon/twitter_logo.jpg', class: :'social-icon' %></a>
        <a href="https://davidsoliskit.tumblr.com"><%= image_tag 'social-icon/tumblr_logo_white_transparent.jpg', class: :"social-icon" %></a>
        <p>&copy; <%= (Time.now).year %> David Solis</p>
      </footer>
    </body>
</html>
